<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <logger name="slick" level="${SLICK_LOGGING_LEVEL:-ERROR}" additivity="false"/>
    <logger name="org.postgresql.Driver" level="${PG_LOGGING_DRIVER_LEVEL:-OFF}"/>
    <logger name="org.postgresql.jdbc.PgConnection" level="${PG_LOGGING_JDBC_LEVEL:-OFF}"/>
    <logger name="org.postgresql.core.v3.ConnectionFactoryImpl" level="${PG_LOGGING_CORE_LEVEL:-OFF}"/>
    <logger name="reactivemongo" level="${MONGO_LOGGING_LEVEL:-WARN}" />
    <logger name="io.jaegertracing.internal.reporters.LoggingReporter" level="${JAEGER_LOGGING_LEVEL:-WARN}"/>
    <logger name="akka.http.impl.engine.client.PoolGateway" level="WARN"/>
    <logger name="akka.event.slf4j.Slf4jLogger" level="WARN" />

    <if condition='isDefined("LOG_CONSOLE_JSON")'>
        <then>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </then>
        <else>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>[%-5level] %d{HH:mm:ss.SSS} - %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <if condition='isDefined("LOG_FILE_JSON")'>
        <then>
            <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_FILE_JSON}</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_FILE_JSON}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </then>
    </if>

    <if condition='isDefined("LOG_FILE_HUMAN")'>
        <then>
            <appender name="FILE_HUMAN" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_FILE_HUMAN}</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_FILE_HUMAN}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>[%-5level] %d{HH:mm:ss.SSS} - %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
    </if>

    <root level="${ROOT_LOGGING_LEVEL:-INFO}">
        <appender-ref ref="CONSOLE"/>
        <if condition='isDefined("LOG_FILE_JSON")'>
            <then>
                <appender-ref ref="FILE_JSON"/>
            </then>
        </if>
        <if condition='isDefined("LOG_FILE_HUMAN")'>
            <then>
                <appender-ref ref="FILE_HUMAN"/>
            </then>
        </if>
    </root>

</configuration>
