<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="io.jaegertracing.internal.reporters.LoggingReporter" level="WARN"/>
    <logger name="reactivemongo" level="WARN" />
    <logger name="akka.event.slf4j.Slf4jLogger" level="WARN" />

    <root level="${ROOT_LOGGING_LEVEL:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
